@model int
<div class="text-center">
    <h1 class="text-info pt-4"> Conguraltion! you are one stepl closer to close your order</h1>
    <p class="pb-3">We have reived your order and will be dispashed as son as possible </p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="~/images/order.png"  width="80%"/>
</div>